* {
  box-sizing: border-box;
}
#root {
  background: rgb(40, 40, 154);
}

.container {
  background: white;
  border: 1px solid #c6c6c6;
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

input[type=text] {
  display: block;
  width: 60%;
  margin: 0 auto;
  font-size: 1.3rem;
  padding: .2rem;
}

table {
  width: 100%;
  margin-top: 1rem;
  text-align: left;
  border-collapse: collapse; 
}

table td, table th {
  border: 1px solid #c6c6c6;
  padding: .5rem;
}